.container {
  padding: 0 2rem;
  height: 100vh;
}

.main {
  height: 90vh;
  padding: 2rem 0 2rem 1rem;
  border: 1px solid black;
  font-family: 'Rokkitt Regular';
}

.main button,
.main input,
.main h1,
.main h2 {
  font-family: 'Rokkitt Regular';
}

.removePictures ul {
  list-style-type: none;
  padding: 0;
}