.container {
    padding: 0 2rem;
    height: 100vh;
  }

.main {
    height: 90vh;
    padding: 2rem 0 2rem 1rem;
    border: 1px solid black;
}

.main h1 {
    font-family: 'Neutral Face Bold';
}

.main h2 {
    font-family: 'Neutral Face Bold';
}