@font-face {
    font-family: Neutral Face Bold;
    src: url('/fonts/NeutralFace/NeutralFace-Bold.otf');
}

@font-face {
    font-family: Neutral Face;
    src: url('/fonts/NeutralFace/NeutralFace.otf');
}

@font-face {
    font-family: Rokkitt Regular;
    src: url('/fonts/Rokkitt/static/Rokkitt-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgray; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}

li .port_topic {
  color: aqua;
  font-size: 1rem;
}

.port_topic--active {
  font-size: 1rem;
  color:red;
  font-weight: bold;
}