.navbar {
  height: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Rokkitt Regular', serif;
  font-size: 3vh;
  align-items: flex-end;
}

.instagram {
  grid-area: 1/2;
  justify-self: flex-end;
}